/* Import Google fonts link --  Spinnaker, sans-serif  */
@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Spinnaker', sans-serif;
}
.card .back-view img {
    max-width: 45px;
}